= render :partial => 'add_playlist_modal'
.container
  .profile
    #user-card
      .user-image-container
        .user-image
          %img#profile-pic{:src => "http://graph.facebook.com/#{@user.uid}/picture?type=large"}
      .user-info-container
        %h1= @user.name
        .stats-container
          .stat.playlists
            %h2= @playlists.count
            %span Playlists
          .stat.starred
            %h2= @likes.count
            %span Starred

    - if !current_user.blank?
      - if current_user.id == @user.id
        #actions
          %h3 Add playlists to your collection
          %ul
            %li
              %a.add.enabled.spotify{:href => '/api/browse/spotify'}
            %li
              - if !current_user.has_service("rdio")
                %a.add.rdio{:href => '/auth/rdio'}
              - else
                %a.add.enabled.rdio{:href => '/api/browse/rdio'}
            .clearfix
            %li
              -if !current_user.has_service("soundcloud")
                %a.add.soundcloud{:href => '/auth/soundcloud'}
              - else
                %a.add.enabled.soundcloud{:href => '/api/browse/soundcloud'}
            %li
              -if !current_user.has_service("youtube")
                %a.add.youtube{:href => '/auth/youtube'}
              - else
                %a.add.enabled.youtube{:href => '/api/browse/youtube'}

  %ul.nav.nav-tabs#user-tabs
    %li.active
      %a{:href => '#collection'}My Collection
    %li
      %a{:href => '#starred'}Starred Playlists
  .clearfix


#user-items-container

  #tile-container
  
    .tab-content
  
      #collection.tab-pane.active
        - if @playlists.blank?
          %p.empty-list-state You haven't added any playlists to your collection yet.
        - else
          .item-grid-container
            - @playlists.each do |obj|
              .item
                .front.playlist-item{:data => {:source => obj['source'], :url => obj['url'], :name => obj['name'], :src => obj['image_url']}}
                  %p= obj['name']
                  %img{:src => obj['image_url']}
                  .controls
                    .source.ir{:class => obj['source']}= obj['source']
                    - if !current_user.blank?
                      - if current_user.id != @user.id
                        %a.ir.like{:href => '/api/like'} Like
                    - else
                      %a.ir.like{:href => '/api/like'} Like
                .back
              
      #starred.tab-pane
        - if @likes.blank?
          %p.empty-list-state You haven't starred any playlists yet.
        - else
          .item-grid-container
            - @likes.each do |obj|
              .item
                .front.playlist-item{:data => {:source => obj['source'], :url => obj['url'], :name => obj['name'], :src => obj['image_url']}}
                  %p= obj['name']
                  %img{:src => obj['image_url']}
                  .controls
                    .source.ir{:class => obj['source']}= obj['source']
                    - if !current_user.blank?
                      - if current_user.id != @user.id
                        %a.ir.like{:href => '/api/like'} Like
                    - else
                      %a.ir.like{:href => '/api/like'} Like
                .back
