#form-container
    .container
        .row
            = form_tag('/search', :method => 'get', :id => 'big_search') do
                .span7.offset1
                    = text_field_tag(:query, '', :placeholder => 'I want to listen to...')
                .span3 
                    = submit_tag('Find playlists', :id => 'search_submit')

#container
    #tile-container
        - @playlists.each do |obj|
            .item
                .front.playlist-item{:data => {:source => obj['source'], :url => obj['playlist_url']}}
                    %p= obj['name']
                    %img{:src => obj['image_url']}
                    .controls
                        .source.ir{:class => obj['source']}= obj['source']
                        %a.like.ir{:href => '/api/like'} Like
                .back